@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">

    <label class="form-label">

        @Model.LabelName

    </label>

    <div class="form-check">
        <input type="checkbox"
               id="@Model.Id"
               name="@Model.Name"
               value="true"
               class="form-check-input"
        @(Model.Value == "true" ? "checked" : "") />

        <label class="form-check-label">
            @Model.LabelName
        </label>
    </div>

</div>