@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">

    <label class="form-label">

        @Model.LabelName

    </label>

    <input type="datetime-local"
           id="@Model.Id"
           name="@Model.Name"
           value="@Model.Value"
           class="form-control text-center" />
           
           @(Model.ReadOnly ? "readonly" : "")
           @(Model.Disabled ? "disabled" : "") />

    @if (!string.IsNullOrWhiteSpace(Model.ValidationMessage))
    {
        <span class="text-danger">

            @Model.ValidationMessage

        </span>
    }

</div>