@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">

    @if (!string.IsNullOrWhiteSpace(Model.LabelName))
    {
        <label class="form-label">

            @Model.LabelName

        </label>
    }

    <select id="@Model.Id"
            name="@Model.Name"
            multiple="multiple"
            class="form-control js-select2 @Model.CssClass"
            @(Model.Disabled ? "disabled" : "")>

        @foreach (var item in Model.Items)
        {
            bool selected =
            Model.SelectedValues != null &&
            Model.SelectedValues.Contains(item.Value);

            <option value="@item.Value"
                    selected="@(selected ? "selected" : null)">

                @item.Text

            </option>
        }

    </select>

    @if (!string.IsNullOrWhiteSpace(Model.HelpText))
    {
        <small class="text-muted">

            @Model.HelpText

        </small>
    }

    @if (!string.IsNullOrWhiteSpace(Model.ValidationMessage))
    {
        <span class="text-danger">

            @Model.ValidationMessage

        </span>
    }

</div>