@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">

    <label class="form-label">

        @Model.LabelName

    </label>

    <input type="number"
           id="@Model.Id"
           name="@Model.Name"
           value="@Model.Value"
           class="form-control text-center"
           placeholder="@Model.Placeholder"
           step="any" />
    @if (!string.IsNullOrWhiteSpace(Model.ValidationMessage))
    {
        <span class="text-danger">

            @Model.ValidationMessage

        </span>
    }

</div>