@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">
    <label for="@Model.Id" class="form-label font-weight-bold">
        @Model.LabelName
    </label>

    <div class="input-group">
        @* کادر ورودی *@
        <input type="text"
               id="@Model.Id"
               name="@Model.Name"
               class="form-control text-center"
               placeholder="@Model.Placeholder"
               value="@Model.Value"
               readonly
               style="background-color: #fff; cursor: default; border-left: none;" />

        @* نمایش آیکون *@
        <div class="input-group-append">
            <span class="input-group-text" style="background-color: #fff; border-left: none;">
                <i class="fa fa-calendar text-muted"></i>
            </span>
        </div>
    </div>
</div>
