@model FitCore.Application.ViewModels.Common.BaseInputViewModel

<div class="col-md-@Model.Col fc-input-group">

    <label class="form-label">

        @Model.LabelName

    </label>

    <input type="text"
           id="@Model.Id"
           name="@Model.Name"
           value="@Model.Value"
           @* class="form-control @(Model.ReadOnly ? "text-center fw-bold" : "")" *@
           class="form-control text-center"
           placeholder="@Model.Placeholder"
    @(Model.ReadOnly ? "readonly" : "")
    @(Model.Disabled ? "disabled" : "") />

    @if (!string.IsNullOrWhiteSpace(Model.ValidationMessage))
    {
        <span class="text-danger">

            @Model.ValidationMessage

        </span>
    }

</div>