<h3>
    salam
    @* @Model.ProgramTitle *@
</h3>

@* <div class="card">
    <div class="card-body">

        <strong>عضو:</strong>
        @Model.MemberName

        <br />

        <strong>نوع:</strong>
        @Model.ProgramType

        <br />

        <strong>از:</strong>
        @Model.StartDate

        <strong>تا:</strong>
        @Model.EndDate

    </div>
</div> *@