@using System.Security.Claims
@using FitCore.Common
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var encryptedUserId = string.IsNullOrEmpty(userId)
        ? ""
        : SecurityUtils.EncryptId(long.Parse(userId));
}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="loading">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>پنل مدیریت | FitCore</title>

    <link rel="shortcut icon" type="image/png" href="~/AdminTemplate/app-assets/img/ico/favicon-32.png">

    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />

    <link rel="stylesheet" href="~/AdminTemplate/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" href="~/AdminTemplate/app-assets/fonts/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/app-assets/vendors/css/prism.min.css">

    <link rel="stylesheet" href="~/AdminTemplate/app-assets/css/app.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FitCorecss.css" />

    <link rel="stylesheet" href="~/css/admin-ui-modern.css" asp-append-version="true" />

</head>

<body data-col="2-columns" class="2-columns" dir="rtl">
    <div class="wrapper">


        <div data-active-color="white"
             data-background-color="black"
             data-image="~/AdminTemplate/app-assets/img/sidebar-bg/01.jpg"
             class="app-sidebar">

            <div class="sidebar-header">

                <div class="logo clearfix">

                    <a href="~/admin" class="logo-text float-right">

                        <div class="logo-img">
                            <img src="~/AdminTemplate/app-assets/img/logos/logo-big-black.png" />
                        </div>

                        <span class="text align-middle">FIT CORE</span>

                    </a>

                    <a id="sidebarToggle"
                       href="javascript:;"
                       class="nav-toggle d-none d-lg-block">

                        <i data-toggle="expanded" class="ft-disc toggle-icon"></i>

                    </a>

                    <a id="sidebarClose"
                       href="javascript:;"
                       class="nav-close d-block d-lg-none">

                        <i class="ft-circle"></i>

                    </a>

                </div>

            </div>


            <div class="sidebar-content">

                <div class="nav-container">

                    <ul id="main-menu-navigation"
                        data-menu="menu-navigation"
                        class="navigation navigation-main">

                        <li class="nav-item">

                            <a href="~/admin">

                                <i class="icon-home"></i>

                                <span class="menu-title">داشبورد</span>

                            </a>

                        </li>



                        <li class="has-sub nav-item">

                            <a href="#">

                                <i class="icon-users"></i>

                                <span class="menu-title">مدیریت باشگاه</span>

                            </a>

                            <ul class="menu-content">

                                @if (User.IsSuperAdmin())
                                {

                                    <li>
                                        <a href="~/admin/Gym/index" class="menu-item">
                                            لیست باشگاه ها
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/admin/Gym/Create" class="menu-item">
                                            ثبت باشگاه
                                        </a>
                                    </li>

                                }
                                @if (User.IsAdmin())
                                {
                                    <li>
                                        <a href="~/admin/Members/index" class="menu-item">
                                            لیست اعضاء باشگاه
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/admin/NutritionProgram/index" class="menu-item">
                                            لیست برنامه غذایی اعضاء
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/admin/TrainingProgram/index" class="menu-item">
                                            لیست برنامه‌های تمرینی اعضاء
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/admin/Food/index" class="menu-item">
                                            لیست غــذاها
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/admin/Exercise/index" class="menu-item">
                                            لیست حرکات تمرینی
                                        </a>
                                    </li>
                                }
                                @if (User.IsMember())
                                {
                                    <li>
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="MemberProfile"
                                           asp-action="CompleteInfo"
                                           asp-route-id="؟؟؟؟">
                                            <i class="fa fa-pencil-square-o"></i>
                                            پروفایل من
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-area="Admin"
                                           asp-controller="MemberProfile"
                                           asp-action="BodyMeasurement"
                                           asp-route-id="@encryptedUserId">
                                            <i class="fa fa-pencil-square-o"></i>
                                            لیست اطلاعات جسمانی
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "NutritionProgram", new { area = "Admin" })" class="menu-item">
                                            لیست برنامه غذایی
                                        </a>
                                    </li>
                                }


                            </ul>

                        </li>

                    </ul>

                </div>

            </div>

            <div class="sidebar-background"></div>

        </div>



        <nav class="navbar navbar-expand-lg navbar-light bg-faded">

            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button"
                            data-toggle="collapse"
                            class="navbar-toggle d-lg-none float-right">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a id="navbar-fullscreen"
                       href="javascript:;"
                       class="ml-2 apptogglefullscreen">

                        <i class="ft-maximize toggleClass"></i>

                    </a>

                </div>


                <div class="navbar-container">

                    <div id="navbarSupportedContent"
                         class="collapse navbar-collapse">

                        <ul class="navbar-nav">

                            <li class="nav-item mt-1 navbar-search dropdown">

                                <a id="search"
                                   href="#"
                                   data-toggle="dropdown"
                                   class="nav-link dropdown-toggle">

                                    <i class="ft-search"></i>

                                </a>

                                <div class="search dropdown-menu dropdown-menu-right">

                                    <div class="arrow_box_right">

                                        <form class="navbar-form">

                                            <div class="position-relative">

                                                <input id="navbar-search"
                                                       type="text"
                                                       placeholder="جستجو..."
                                                       class="form-control" />

                                            </div>

                                        </form>

                                    </div>

                                </div>

                            </li>



                            <li class="dropdown nav-item mr-0">

                                <a id="dropdownBasic3"
                                   href="#"
                                   data-toggle="dropdown"
                                   class="nav-link dropdown-user-link dropdown-toggle">

                                    <span class="avatar avatar-online">

                                        <img src="~/AdminTemplate/app-assets/img/portrait/small/avatar-s-3.jpg" />

                                    </span>

                                </a>

                                <div class="dropdown-menu dropdown-menu-left">

                                    <div class="arrow_box_right">

                                        <a href="#" class="dropdown-item py-1">

                                            <i class="ft-edit ml-2"></i>

                                            <span>پروفایل من</span>

                                        </a>

                                        <a href="javascript:;" class="dropdown-item py-1">

                                            <i class="ft-settings ml-2"></i>

                                            <span>تنظیمات</span>

                                        </a>

                                        <div class="dropdown-divider"></div>

                                        <a href="/" class="dropdown-item">

                                            <i class="ft-power ml-2"></i>

                                            <span>خروج از بخش مدیریت</span>

                                        </a>

                                    </div>

                                </div>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </nav>



        <div class="main-panel">

            <div class="main-content">

                @RenderBody()

            </div>

        </div>

    </div>



    <aside id="notification-sidebar"
           class="notification-sidebar d-none d-md-block">

        <a class="notification-sidebar-close">

            <i class="ft-x font-medium-3"></i>

        </a>

        <div class="side-nav notification-sidebar-content"></div>

    </aside>



    <script src="~/AdminTemplate/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/core/popper.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/core/bootstrap.min.js"></script>

    <script src="~/AdminTemplate/app-assets/js/persian-datepicker.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/prism.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/jquery.matchHeight-min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/screenfull.min.js"></script>

    <script src="~/AdminTemplate/app-assets/vendors/js/pace/pace.min.js"></script>

    <script src="~/AdminTemplate/app-assets/js/app-sidebar.js"></script>

    <script src="~/AdminTemplate/app-assets/js/notification-sidebar.js"></script>

    <script src="~/AdminTemplate/app-assets/js/customizer.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/css/bootstrap.min.css"></script>

    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>

    <script src="~/app-assets/vendors/js/core/popper.min.js"></script>

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap4.min.css" rel="stylesheet" />



    @RenderSection("Scripts", false)

    @RenderSection("Modals", false)

    <script>

        $(document).ready(function(){

        $("#sidebarToggle").on("click",function(){

        $("body").toggleClass("sidebar-collapsed")

        })

        $("#sidebarClose").on("click",function(){

        $(".app-sidebar").toggleClass("mobile-open")

        })

        })

    </script>


</body>
</html>
