@using FitCore.Application.Services.NutritionPrograms.Queries.GetNutritionProgram
@model ResultGetNutritionProgramsDto
@{
    ViewData["Title"] = "گزارش سفارش‌ها";
}

<h2>گزارش سفارش‌ها</h2>
<div class="print-btn">
    <button onclick="window.print()">
        چاپ گزارش
    </button>
</div>
<form method="get" asp-action="report">
    <div>
        <label>از تاریخ:</label>
        <input type="date" name="fromDate" />
    </div>

    <div>
        <label>تا تاریخ:</label>
        <input type="date" name="toDate" />
    </div>

    <div>
        <label>وضعیت:</label>
        <input type="text" name="status" />
    </div>

    <button type="submit">نمایش گزارش</button>
</form>

<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام مشتری</th>
            <th>تاریخ سفارش</th>
            <th>مبلغ کل</th>
            <th>وضعیت</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NutritionPrograms)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.MemberName</td>
                <td>@item.MemberMobile</td>
                <td>@item.ProgramType</td>
                <td>@item.StartDate</td>
            </tr>
        }
    </tbody>
</table>
